<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Register</h1>
      {{> message}}
    <form action="/users/register" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">Name</label>
          <input type="name" id="password" name="name" class="form-control"placeholder="Enter Your Name" value="{{name}}" >
        </div>
        <div class="mb-3">
          <label for="email"class="mb-2">Email</label>
          <input name="email" type="email" id="email"  class="form-control" placeholder="Enter Email" value="{{email}}">
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value="{{password}}">
        </div>
        <div class="mb-3">
          <label for="passwordConfirm" class="mb-2">Confirm Password</label>
          <input type="password" id="password" name="passwordConfirm" class="form-control" placeholder="Confirm Your Password" value="{{passwordConfirm}}">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
     
      <p class="lead mt-4">
        Already Have One? <a href="./login">Login</a>
      </p>
    </div>
  </div>
</div>
